
<footer>

  <div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">accessories :</h3>

        <a href="#" class="footer-category-link">Mouse</a>
        <a href="#" class="footer-category-link">Keyboard</a>
        <a href="#" class="footer-category-link">PC headset</a>
        <a href="#" class="footer-category-link">Mouse Pads</a>
        <a href="#" class="footer-category-link">Webcams</a>
        <a href="#" class="footer-category-link">USB microphones</a>
        <a href="#" class="footer-category-link">Adjustable monitor stands</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Computer Components :</h3>

        <a href="#" class="footer-category-link">Hard Drives</a>
        <a href="#" class="footer-category-link">Motherboard</a>
        <a href="#" class="footer-category-link">CPU</a>
        <a href="#" class="footer-category-link">RAM</a>
        <a href="#" class="footer-category-link">Power Supply Unit</a>
        <a href="#" class="footer-category-link">Cooling System</a>
        <a href="#" class="footer-category-link">Sound Card</a>
        <a href="#" class="footer-category-link">Input Devices</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Tech Gadgets :</h3>

        <a href="#" class="footer-category-link">Smart Home Devices</a>
        <a href="#" class="footer-category-link">Smart Watches</a>
        <a href="#" class="footer-category-link">Smart Glasses</a>
        <a href="#" class="footer-category-link">fitness trackers</a>
        <a href="#" class="footer-category-link">wireless chargers</a>
        <a href="#" class="footer-category-link">Headphones</a>


      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Softwares :</h3>

        <a href="#" class="footer-category-link">Microsoft Office</a>
        <a href="#" class="footer-category-link">Google Workspace</a>
        <a href="#" class="footer-category-link">Microsoft OneNote</a>
        <a href="#" class="footer-category-link">Asana</a>
        <a href="#" class="footer-category-link">Adobe Creative Cloud</a>
        <a href="#" class="footer-category-link">Adobe Premiere Pro</a>
        <a href="#" class="footer-category-link">Norton</a>
        <a href="#" class="footer-category-link">McAfee</a>
        <a href="#" class="footer-category-link">Rosetta Stone</a>
        <a href="#" class="footer-category-link">Duolingo</a>
        <a href="#" class="footer-category-link">WinRAR</a>
        <a href="#" class="footer-category-link">7-Zip</a>
        <a href="#" class="footer-category-link">Blender</a>
        <a href="#" class="footer-category-link">Autodesk Maya</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Accessoires</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Electronic</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Computer Components</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Software</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Tech Gadgets</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Products</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Keyboard</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Mouse</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Monitor</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Hard disk</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Software</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Delivery</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Legal Notice</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Terms and conditions</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Secure payment</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New products</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">

          <address class="content">
            Borj Baccouche
            A cote de Salih , Ariana, 14812, TUNSIE
          </address>
        </li>

        <li class="footer-nav-item flex">


          <a href="#" class="footer-nav-link">(216) 936-1861-6848</a>
        </li>

        <li class="footer-nav-item flex">


          <a href="mailto:example@gmail.com" class="footer-nav-link">walidsboui192@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item ">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <img src="assets/images/instagram_logo.png" class="h-8 w-8">
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <img src="assets/images/facebook_icon.png" class="h-10 w-10">
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <img src="assets/images/pinterest_icon.png" class="h-10 w-10">

              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <img src="assets/images/tiktok_icon.png" class="h-10 w-10">
                </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <img src="assets/images/twitter_icon.png" class="h-10 w-10">
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div >
      <img src="./assets/images/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a routerLink="home" routerLinkActive="text-primary">AppName</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>
