<footer>

  <div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">accessories :</h3>

        <a class="footer-category-link" href="#">Mouse</a>
        <a class="footer-category-link" href="#">Keyboard</a>
        <a class="footer-category-link" href="#">PC headset</a>
        <a class="footer-category-link" href="#">Mouse Pads</a>
        <a class="footer-category-link" href="#">Webcams</a>
        <a class="footer-category-link" href="#">USB microphones</a>
        <a class="footer-category-link" href="#">Adjustable monitor stands</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Computer Components :</h3>

        <a class="footer-category-link" href="#">Hard Drives</a>
        <a class="footer-category-link" href="#">Motherboard</a>
        <a class="footer-category-link" href="#">CPU</a>
        <a class="footer-category-link" href="#">RAM</a>
        <a class="footer-category-link" href="#">Power Supply Unit</a>
        <a class="footer-category-link" href="#">Cooling System</a>
        <a class="footer-category-link" href="#">Sound Card</a>
        <a class="footer-category-link" href="#">Input Devices</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Tech Gadgets :</h3>

        <a class="footer-category-link" href="#">Smart Home Devices</a>
        <a class="footer-category-link" href="#">Smart Watches</a>
        <a class="footer-category-link" href="#">Smart Glasses</a>
        <a class="footer-category-link" href="#">fitness trackers</a>
        <a class="footer-category-link" href="#">wireless chargers</a>
        <a class="footer-category-link" href="#">Headphones</a>


      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Softwares :</h3>

        <a class="footer-category-link" href="#">Microsoft Office</a>
        <a class="footer-category-link" href="#">Google Workspace</a>
        <a class="footer-category-link" href="#">Microsoft OneNote</a>
        <a class="footer-category-link" href="#">Asana</a>
        <a class="footer-category-link" href="#">Adobe Creative Cloud</a>
        <a class="footer-category-link" href="#">Adobe Premiere Pro</a>
        <a class="footer-category-link" href="#">Norton</a>
        <a class="footer-category-link" href="#">McAfee</a>
        <a class="footer-category-link" href="#">Rosetta Stone</a>
        <a class="footer-category-link" href="#">Duolingo</a>
        <a class="footer-category-link" href="#">WinRAR</a>
        <a class="footer-category-link" href="#">7-Zip</a>
        <a class="footer-category-link" href="#">Blender</a>
        <a class="footer-category-link" href="#">Autodesk Maya</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Accessoires</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Electronic</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Computer Components</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Software</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Tech Gadgets</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Products</h2>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Keyboard</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Mouse</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Monitor</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Hard disk</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Software</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Delivery</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Legal Notice</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Terms and conditions</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">About us</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Secure payment</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">New products</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">

          <address class="content">
            Borj Baccouche
            A cote de Salih , Ariana, 14812, TUNSIE
          </address>
        </li>

        <li class="footer-nav-item flex">


          <a class="footer-nav-link" href="#">(216) 936-1861-6848</a>
        </li>

        <li class="footer-nav-item flex">


          <a class="footer-nav-link" href="mailto:example@gmail.com">walidsboui192@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item ">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">
                <img class="h-8 w-8" src="assets/images/instagram_logo.png">
              </a>
            </li>

            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">
                <img class="h-10 w-10" src="assets/images/facebook_icon.png">
              </a>
            </li>

            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">
                <img class="h-10 w-10" src="assets/images/pinterest_icon.png">

              </a>
            </li>

            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">
                <img class="h-10 w-10" src="assets/images/tiktok_icon.png">
              </a>
            </li>

            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">
                <img class="h-10 w-10" src="assets/images/twitter_icon.png">
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div>
      <img alt="payment method" class="payment-img" src="./assets/images/payment.png">

      <p class="copyright">
        Copyright &copy; <a routerLink="home" routerLinkActive="text-primary">AppName</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>
