<header class="relative">
  <button class="absolute -right-1 -top-1">
    <rmx-icon name="heart-3-line"></rmx-icon>
  </button>
  <ng-container *ngIf="images">
    <img [src]="images[0]" [alt]="title" class="aspect-square object-contain" />
  </ng-container>
</header>
<div>
  <p class="text-sm font-medium line-clamp-2" [style.min-height.px]="40">
    {{ title }}
  </p>
  <ng-content select="rating"></ng-content>
  <div class="mt-2">
    <p class="text-xs text-gray-500">Price</p>
    <div class="flex text-sm items-center">
      <p class="font-medium">{{ price | currency }}</p>
      <ng-container *ngIf="originalPrice">
        <p class="text-gray-500 text-xs line-through ml-2">
          {{ originalPrice | currency }}
        </p>
      </ng-container>
    </div>
    <ng-container *ngIf="originalPrice">
      <div class="text-xs">
        <p>
          Savings
          <strong class="text-green-600">{{
              priceDifference | currency: 'USD': true
          }}</strong>
          ({{ discount }}<span class="text-xs">%</span>)
        </p>
      </div>
    </ng-container>
  </div>
</div>
<footer class="flex items-center gap-2 mt-4">
  <button
    wfh
    variant="outline"
    size="small"
    class="flex-1"
    (click)="quickView.emit()"
  >
    Quick View
  </button>
  <button wfh size="small"></button>
</footer>
