<div class="checkbox cursor-pointer flex items-center">
  <input
    [id]="label ? label : id"
    type="checkbox"
    class="cursor-pointer"
    [checked]="checked"
    [value]="value"
    (change)="onChange($event)"
    [disabled]="disabled"
  />
  <label [class.ml-2]="!!label" [for]="label ? label : id">
    <ng-container *ngIf="!label; else labelTpl">
      <ng-content></ng-content>
    </ng-container>

    <ng-template #labelTpl>
      <p class="cursor-pointer text-sm">
        {{ label }}
      </p>
    </ng-template>
  </label>
</div>
