:host {
  position: fixed;
  z-index: 20;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: all 300ms;
  transform: translateX(80%);
}

:host-context(.open) {
  width: 100%;
  max-width: 600px;
  transform: translateX(0);
}
