<div class="px-6 py-4">
  <div class="ml-14">
    <div class="flex justify-between">
      <h1 class="text-lg font-bold  text-gray-500">Checkout</h1>
      <a routerLink="/cart" class="px-4 py-2  hover:underline text-blue-500 rounded-md">Show Order Summary:
        {{total | currency}}</a>
    </div>
  </div>
  <hr class="mx-auto w-11/12 border-t-0.5 border-gray-400 my-1">
  <div class="mt-12 flex justify-center flex-col items-center">
    <p class="text-3xl font-medium text-gray-700 text-center">
      How would you like to get your order?
    </p>
    <div class="mt-12">
      <div class="grid grid-cols-2 ">
        <div
          routerLink="delivery" routerLinkActive="active"
          class="flex items-center justify-center border hover:border-[#30506c] rounded-l-lg p-4">
          <div class="flex flex-col items-center">
            <div class="flex flex-row items-center">
              <img src="assets/images/delieverd_icon.png" alt="delivery" class="w-14 h-14">
              <p class="m-4 text-base text-center">
                I'd like to get my order delivered to me.
              </p>
            </div>
            <p class="text-lg font-medium text-gray-700 mt-2">Delivery</p>
          </div>
        </div>
        <div
          routerLink="pickup" routerLinkActive="active"
          class="flex items-center justify-center border hover:border-[#30506c] rounded-r-lg p-4">
          <div class="flex flex-col items-center">
            <div class="flex flex-row items-center">
              <p class="m-4 text-base text-center">
                I'd like to pick up my order from the store.
              </p>
              <img src="assets/images/pick.png" alt="pickup" class="w-14 h-14">
            </div>
            <p class="text-lg font-medium text-gray-700 mt-2">Pickup</p>
          </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      <p>Showing stores near: <span class="text-blue-500 hover:underline cursor-pointer">Ariana ↓</span></p>
    </div>
    <hr class="mx-auto w-11/12 border-t-0.5 border-gray-400 my-1">

  </div>
  <router-outlet></router-outlet>


</div>
